<div id="logreg-forms">
  <form class="form-signin" [formGroup]="saveForm" (ngSubmit)="resetPass()">
    <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Reset your password</h1>
    <p class="text-muted" style="text-align: center">Enter your email which is registered with us</p>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" formControlName="username" required>

    <button class="btn btn-success btn-block" type="submit">
      <i class="fa fa-key"></i>
      Reset password
    </button>
  </form>
</div>

