
<div id="logreg-forms">
  <form class="form-signup" [formGroup]="saveForm" (ngSubmit)="register()">
    <div class="social-login">
      <button class="btn facebook-btn social-btn" type="button"><span>
        <i class="fab fa-facebook-f"></i>
        Sign up with Facebook</span> </button>
    </div>
    <div class="social-login">
      <button class="btn google-btn social-btn" type="button"><span>
        <i class="fab fa-google-plus-g"></i>
        Sign up with Google+</span> </button>
    </div>

    <p style="text-align:center">OR</p>
    <div class="form-group row mr-15">
      <input type="email" class="form-control" placeholder="Email address"
             formControlName="email" required [ngClass]="{ 'is-invalid': emailValid}">
      <div *ngIf="emailValid" class="invalid-feedback">
        <div *ngIf="email.errors.required">Email is required</div>
        <div *ngIf="email.errors.email">Email is invalid</div>
      </div>
    </div>

    <div class="form-group row mr-15">
      <input type="text" class="form-control" placeholder="Phone number"
             formControlName="phone" required [ngClass]="{ 'is-invalid': phoneValid}">
      <div *ngIf="phoneValid" class="invalid-feedback mr-b-15">
        <div *ngIf="phone.errors.required">Phonenumber is required</div>
        <div *ngIf="phone.errors.pattern">Phonenumber is invalid</div>
      </div>
    </div>

    <div class="form-group row mr-15">
      <input type="password" id="user-pass" class="form-control" placeholder="Password"
             formControlName="password" required [ngClass]="{ 'is-invalid': passwordValid}">
      <div *ngIf="passwordValid" class="invalid-feedback mr-b-15 ">
        <div *ngIf="password.errors.required">Password is required</div>
        <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
      </div>
    </div>

    <div class="form-group row mr-15">
      <input type="password" id="user-repeatpass" class="form-control" placeholder="Comfirm Password"
             formControlName="comfirmPassword" required [ngClass]="{ 'is-invalid': comfirmPasswordValid}" >
      <div *ngIf="comfirmPasswordValid" class="invalid-feedback mr-b-15">
        <div *ngIf="comfirmPassword.errors.required">Confirm Password is required</div>
        <div *ngIf="comfirmPassword.errors.mustMatch">Passwords must match</div>
      </div>
    </div>
    <button class="btn btn-primary btn-block" type="submit"><i class="fas fa-user-plus"></i> Sign Up</button>
    <a href="#" id="cancel_signup"><i class="fas fa-angle-left"></i> Back</a>
  </form>
</div>

