<!-- //products ---->
<!----product-details--->
<div class="product-details">
  <div class="container">
    <div class="product-details-row1">
      <div class="product-details-row1-head">
        <h2>{{product?.name}}</h2>
      </div>
      <div class="col-md-4 product-details-row1-col1">
        <div class="details-left">
          <div class="details-left-slider">
            <img width="100%" src="assets/images/products/{{product?.image}}"  title="name" />
          </div>
        </div>
      </div>
      <div class="col-md-8 product-details-row1-col2">
        <div class="product-rating">
          <a class="rate" href="#"><span> </span></a>
          <label><a href="#">Read <b>8</b> Reviews</a></label>
        </div>
        <div class="product-price">
          <div class="product-price-left text-right">
            <span>{{product?.price | number}}</span>
            <h5>{{product?.price*(1-product?.discount) | number}} VNĐ</h5>
          </div>
          <div class="product-price-right">
            <a href="#"><span> </span></a>
            <label> save <b>{{product.discount*100}}%</b></label>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="product-price-details">
          <p class="text-right">{{product.desciption}}</p>
          <a class="shipping" href="#"><span> </span>Free shipping</a>
          <div class="clearfix"> </div>
          <div class="product-size-qty">
            <div class="pro-size">
              <span>Size</span>
              <select [(ngModel)]="size">
                <option *ngFor="let item of lstSizes">{{item}}</option>
              </select>
            </div>
            <div class="pro-qty">
              <span>Quantity</span>
              <input type="number" [(ngModel)]="quantity">
            </div>
            <div class="clearfix"> </div>
          </div>
          <div class="clearfix"> </div>
          <div class="product-cart-share">
            <div class="add-cart-btn">
              <input type="button" value="Add to cart" (click)="addToCart()" />
            </div>
            <ul class="product-share text-right">
              <h3>Share This:</h3>
              <ul>
                <li><a class="share-face" href="#"><span> </span> </a></li>
                <li><a class="share-twitter" href="#"><span> </span> </a></li>
                <li><a class="share-google" href="#"><span> </span> </a></li>
                <li><a class="share-rss" href="#"><span> </span> </a></li>
                <div class="clear"> </div>
              </ul>
            </ul>
          </div>
        </div>
      </div>
      <div class="clearfix"> </div>
      <!--//product-details--->
    </div>
    <!---- product-details ---->
    <div class="product-tabs">
      <!--Horizontal Tab-->
      <app-my-tabs>
        <app-my-tab [tabTitle]="'Product overview'">
          <div id="tab-1" class="product-complete-info">
            <h3>DESCRIPTION:</h3>
            <p>{{product?.desciption}}</p>
          </div>
        </app-my-tab>
        <app-my-tab [tabTitle]="'Features'">
          <div id="tab-2" class="product-complete-info">
            <span>DETAILS:</span>
            <div class="product-fea">
              <p>Code: {{product?.code}}</p>
              <p>Color: {{product?.color?.name}}</p>
              <!--<p>Size avalaible: {{product?.size}}</p>-->
              <p>Producer: {{product?.producer?.name}}</p>
              <p>Quantity availabel: {{product?.quantity}}</p>
            </div>
          </div>
        </app-my-tab>
        <app-my-tab [tabTitle]="'Customer reviews'">
          <div id="tab-3"  class="product-complete-info">
            No review
          </div>
        </app-my-tab>
      </app-my-tabs>
    </div>
    <!-- //product-details ---->
  </div>
</div>
