<div class="container">
  <form>
    <div class="contact-form">
      <div class="contact-to">
        <input type="text" class="text" value="Name..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name...';}">
        <input type="text" class="text" value="Phone number..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email...';}">
        <input type="text" class="text" value="Address..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Subject...';}">
      </div>
      <div class="text2">
        <textarea value="Note:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message..</textarea>
      </div>
      <span><input type="submit" class="" value="Send"></span>
      <div class="clearfix"></div>
    </div>
  </form>
</div>

